<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/mars.css" />
	<link rel="shortcut icon" href="/static/images/mars-icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mars has worse weather than us">
	<meta name="author" content="Emma Azelborn">
	<meta name="keywords" content="mars, weather, nasa">

	<title>Mars Weather Comparison</title>
</head>
<body>

	<h1>MARS HAS WORSE WEATHER THAN YOU</h1>
	<h2>At least you won't die minutes after going outside.</h2>
	<div class="local">
		<h2>{{ location }}</h2>
		<p>{{ local['weather'][0]['main'] }}</p>
		<p>{{ local['main']['temp'] }}&degF</p>
		<p>{{ local['main']['grnd_level']}} atm</p>

	</div>
	<div class="mars">
		<h2>Mars</h2>
		
		<p>{{ mars['atmo_opacity'] }}</p>
		<p>{{ mars['min_temp_fahrenheit'] }}&degF &#8212 {{ mars['max_temp_fahrenheit'] }}&degF</p>
		<p>{{ mars['pressure']}} atm</p>

				


	</div>
	






</body>

